/* Our CSS file. */

.container,
.content {
  width: 100%;
}

.logo img {
  height: 95px;
  padding-top: 4px;
}

.search {
  float: right;
  padding-top: 40px;
  vertical-align: top;
  padding-right: 15px;
}
.nav {
  padding-top: 10px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  color: gray;
}
.nav li {
  padding-left: 190px;
}
.main {
  margin-top: 10px;

  border: 1px solid gray;
}
.aside-left {
  margin: 10px;
  border: 1px solid gray;
  display: inline-block;
  height: 569px;
}
.aside-left li {
  padding: 15px;
}
.aside-right {
  margin: 10px;
  border: 1px solid gray;
  display: inline-block;
  height: 569px;
  vertical-align: top;
}
.aside-right li {
  padding: 15px;
}
.post-img1 {
  margin: 10px;
  display: inline-block;
  border: 1px solid gray;
  vertical-align: top;
}
.first-section img {
  height: 200px;
  width: 150px;
  margin: 40px;
  padding-left: 79px;
  padding-right: 78px;
}
.second-section img {
  height: 200px;
  width: 150px;
  margin: 40px;
  padding-left: 79px;
  padding-right: 78px;
}
.footer {
  border: 1px solid gray;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f5f1eb;
}
